<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Investability</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let menu of menuItems" [value]="menu" [routerLink]="'/' + menu.route">
        {{menu.name}}
      </mat-list-option>
    </mat-selection-list>

    <p>
      Option selected: {{shoes.selectedOptions.selected[0]?.value}}
    </p>

  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
